
<!DOCTYPE HTML>
<html>
	<head>
	<title>sKo</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<body class="vh-100"> 
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav style="    margin-top: -57px;" class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html">sKo</a></div>
						</div>
						
		         </div>
					{{!-- <div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li class="active"><a href="/home">Home</a></li>
								<li class="has-dropdown"><a href="/men">Men</a>
									<ul class="dropdown">
										<li><a href="/cart">Shopping Cart</a></li>
										<li><a href="/checkout">Checkout</a></li>
										<li><a href="/add-to-wishlist">Wishlist</a></li>
									</ul>
								</li>
								<li><a href="/women">Women</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/contact">Contact</a></li>
                                <li class="cart"><a href="/cart"><i class="icon-shopping-cart" style="color:green ;">Cart</i><span class="badge badge-success" id="cart-count">{{cartCount}}</span></a></li>
								<li class="cart"><a href="/wishlist"> <i class="icon-heart" style="color: red;">Wishlist</i><span class="badge badge-danger" id="wish-count">{{wishCount}}</a></li>
								{{#if username}}
								<li class="cart"><a href="/orders"><i class="icon-envelope" style="color:black;">Orders</i></a></li>
								{{/if}}
							</ul>
						</div>
					</div> --}}
				</div>
			</div>
            <div class="dropdown" style="float:right;">
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	{{#if username}}
	<a class="dropdown-item" href="/user-profile">Profile</a>
	<a class="dropdown-item" href="/logout">Logout</a>
	{{else}}
	<a class="dropdown-item" href="/login">Login</a>
	{{/if}}
  </div>
</div>
<body>
  			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">
									<div class="item">
										<div class="col">
											<h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
										</div>
									</div>
									<div class="item">
										<div class="col">
											<h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
     <section class="vh-100 gradient-custom">
        <div class="container  h-50">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;
    height: 566px;">
                        <div style="    margin-top: -20px;" class="card-body p-1 text-center">

                            <div class="mb-md-1 mt-md-4 pb-5" style="overflow-y: hidden;">

                                <h2 style="margin-top: -15px; color: aliceblue;" class="fw-bold mb-2 text-uppercase" >Login</h2>
                                <h5 style="    margin-top: -26px; color: aliceblue;" class="fw-bold">sKo</h5>
                                <p class="text-white-50 mb-5">Please enter your Username and Password!</p>
                                <form action="/login" method="post" style="    margin-top: -54px;">
                                {{#if loginErr}}
                                <p class="error">{{loginErr}}</p>
                                {{/if}}
                                {{#if accessErr}}
                                <p class="error">{{accessErr}}</p>
                                {{/if}}
                                    <div class="form-outline form-white mb-4" style="width: 400px; padding-left: 30px;">
                                        <input type="email" id="typeEmailX" class="form-control form-control-lg" name="Email" />
                                        <label class="form-label" for="typeEmailX">Email</label>
                                    </div>

                                    <div class="form-outline form-white mb-4" style="width: 400px; padding-left: 30px;">
                                        <input type="password" id="typePasswordX" class="form-control form-control-lg"  name="Password" />
                                        <label class="form-label" for="typePasswordX">Password</label>
                                    </div>

                                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/forgot">Forgot password?</a></p>
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                 <div>
                                <p class="mb-0">Don't have an account? <a href="/signup" class="text-white-50 fw-bold" my="3">Sign Up</a> </p>
                            </div>
                                </form>

                            </div>

                            {{!-- <div>
                                <p class="mb-0">Don't have an account? <a href="/signup"
                                        class="text-white-50 fw-bold">Sign Up</a>
                                </p>
                            </div>
                             --}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
   <!-- popper -->
   <script src="js/popper.min.js"></script>
   <!-- bootstrap 4.1 -->
   <script src="js/bootstrap.min.js"></script>
   <!-- jQuery easing -->
   <script src="js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

