<!DOCTYPE HTML>
<html>
	<head>
	<title>sKo</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html">sKo</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
			            <form action="/search-product" class="search-wrap" role="search">
			               {{!-- <div class="form-group"> --}}
			                  <input type="search" name="Name" class="form-control search" placeholder="Search">
			                  <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
			               {{!-- </div> --}}
			            </form>
			         </div>
		         </div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li class="active"><a href="/home">Home</a></li>
								<li class="has-dropdown"><a href="/men">Men</a>
									<ul class="dropdown">
										<li><a href="/cart">Shopping Cart</a></li>
										<li><a href="/checkout">Checkout</a></li>
										<li><a href="/add-to-wishlist">Wishlist</a></li>
									</ul>
								</li>
								<li><a href="/women">Women</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/contact">Contact</a></li>
                                <li class="cart"><a href="/cart"><i class="icon-shopping-cart" style="color:green ;">Cart</i><span class="badge badge-success" id="cart-count">{{cartCount}}</span></a></li>
								<li class="cart"><a href="/wishlist"> <i class="icon-heart" style="color: red;">Wishlist</i><span class="badge badge-danger" id="wish-count">{{wishCount}}</a></li>
								{{#if username}}
								<li class="cart"><a href="/orders"><i class="icon-envelope" style="color:black;">Orders</i></a></li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
            <div class="dropdown" style="float:right;">
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	{{#if username}}
	<a class="dropdown-item" href="/user-profile">Profile</a>
	<a class="dropdown-item" href="/logout">Logout</a>
	{{else}}
	<a class="dropdown-item" href="/login">Login</a>
	{{/if}}
  </div>
</div>
<body>
  
<section>
  <div class="container">
    <table class="table mt-5" id="myTable">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">orderId</th>
          <th scope="col">Product Name</th>
          <th scope="col">Image</th>
          {{!-- <th scope="col">Mobile</th>
          <th scope="col">Amount</th>
          <th scope="col">Payment</th>  --}}
          {{!-- <th scope="col">Status</th>
          <th></th> --}}
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
          <tr>
            <th scope="row">{{inc @index}}</th>
            {{!-- <td>{{this.date}}</td> --}}
            <td>{{this._id}}</td>
             <td>{{this.products.Name}}</td>
			 <td>
                <img style="width: 50px;height: 50px;"
                  src="/product-images/{{this.products.Image.[0].filename}}" alt="" />
                </td>
			 {{!-- <td>{{this.products.Image.[0].filename}}</td> --}}
            {{!-- <td>{{this.deliveryDetails.mobile}}</td>
            <td>{{this.totalAmount}}</td>
            <td>{{this.paymentMethod}}</td> --}}
            {{!-- {{#if order}}
            <td class="text-success font-weight-bold">{{this.orderStatus}}</td>
            {{else}}
            <td class="text-danger font-weight-bold">{{this.orderstatus}}</td>
            {{/if}} --}}
            <td>
              <a href="/view-order-products/{{this._id}}" class="btn btn-primary" >View</a>
            </td>
           

          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>


    <script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready( function () {
    $('#myTable').DataTable();
} );
    </script>
</body>
</html>


<script>
  $(".cancel").on("click",function(e){
    e.preventDefault()
    var self=$(this)
    Swal.fire({
  title: 'Do you really want to cancel this order?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes'
}).then((result) => {
  if (result.isConfirmed) {
    
    location.href=self.attr("href")
  }
})

  })

</script>
		
<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
   <!-- popper -->
   <script src="js/popper.min.js"></script>
   <!-- bootstrap 4.1 -->
   <script src="js/bootstrap.min.js"></script>
   <!-- jQuery easing -->
   <script src="js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>